In [111]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [112]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [113]:
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/STEAM/AiElements Data Science Internship Assignment Solution/Data/CleanData.csv')

In [114]:
df.head()

,Unnamed: 0,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Company
0,0,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,13495.0,alfa-romero
1,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,16500.0,alfa-romero
2,2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154.0,5000,19,26,16500.0,alfa-romero
3,3,2,gas,std,four,sedan,4wd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102.0,5500,24,30,13950.0,audi
4,5,2,gas,std,two,sedan,4wd,front,99.8,177.3,...,mpfi,3.19,3.40,8.5,110.0,5500,19,25,15250.0,audi

In [115]:
df = df.drop('Unnamed: 0', axis=1)

In [116]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Company
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,13495.0,alfa-romero
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111.0,5000,21,27,16500.0,alfa-romero
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154.0,5000,19,26,16500.0,alfa-romero
3,2,gas,std,four,sedan,4wd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102.0,5500,24,30,13950.0,audi
4,2,gas,std,two,sedan,4wd,front,99.8,177.3,66.3,...,mpfi,3.19,3.40,8.5,110.0,5500,19,25,15250.0,audi

In [117]:
df.shape

(188, 25)

In [118]:
df.isnull().sum()

symboling           0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
Company             0
dtype: int64

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         188 non-null    int64
 1   fueltype          188 non-null    object
 2   aspiration        188 non-null    object
 3   doornumber        188 non-null    object
 4   carbody           188 non-null    object
 5   drivewheel        188 non-null    object
 6   enginelocation    188 non-null    object
 7   wheelbase         188 non-null    float64
 8   carlength         188 non-null    float64
 9   carwidth          188 non-null    float64
 10  carheight         188 non-null    float64
 11  curbweight        188 non-null    float64
 12  enginetype        188 non-null    object
 13  cylindernumber    188 non-null    object
 14  enginesize        188 non-null    float64
 15  fuelsystem        188 non-null    object
 16  boreratio         188 non-null    float64
 17  stroke            188 non-null    float64
 18  compressionratio  188 non-null    float64
 19  horsepower        188 non-null    float64
 20  peakrpm           188 non-null    int64
 21  citympg           188 non-null    int64
 22  highwaympg        188 non-null    int64
 23  price             188 non-null    float64
 24  Company           188 non-null    object
dtypes: float64(11), int64(4), object(10)
memory usage: 36.8+ KB

In [120]:
for column in df.columns:
    print('{0} has {1} unique values'.format(column, df[column].nunique()))

symboling has 6 unique values
fueltype has 2 unique values
aspiration has 2 unique values
doornumber has 2 unique values
carbody has 6 unique values
drivewheel has 2 unique values
enginelocation has 2 unique values
wheelbase has 51 unique values
carlength has 73 unique values
carwidth has 41 unique values
carheight has 47 unique values
curbweight has 156 unique values
enginetype has 7 unique values
cylindernumber has 5 unique values
enginesize has 43 unique values
fuelsystem has 8 unique values
boreratio has 38 unique values
stroke has 37 unique values
compressionratio has 31 unique values
horsepower has 56 unique values
peakrpm has 23 unique values
citympg has 27 unique values
highwaympg has 28 unique values
price has 173 unique values
Company has 22 unique values

In [121]:
df.aspiration.unique()

array(['std', 'turbo'], dtype=object)

In [122]:
df.fueltype.unique()

array(['gas', 'diesel'], dtype=object)

In [123]:
df.doornumber.unique()

array(['two', 'four'], dtype=object)

In [124]:
df.carbody.unique()

array(['convertible', 'hatchback', 'sedan', 'fwd', 'wagon', 'hardtop'],
      dtype=object)

In [125]:
df.drivewheel.unique()

array(['rwd', '4wd'], dtype=object)

In [126]:
df.enginelocation.unique()

array(['front', 'rear'], dtype=object)

In [127]:
df.Company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [128]:
df.enginetype.unique()

array(['dohc', 'ohcv', 'ohc', 'rotor', 'l', 'ohcf', 'dohcv'], dtype=object)

In [129]:
df.fuelsystem.unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [130]:
df.enginetype.unique()

array(['dohc', 'ohcv', 'ohc', 'rotor', 'l', 'ohcf', 'dohcv'], dtype=object)

In [131]:
df.cylindernumber.unique()

array(['four', 'six', 'five', 'two', 'eight'], dtype=object)

In [132]:
def To_number(x):
    return x.map({'two':2,'four':4, 'five': 5,'six': 6,'eight':8})
    
df['cylindernumber'] = df[['cylindernumber']].apply(To_number)
df["cylindernumber"] = df["cylindernumber"].astype(np.int64)
df.cylindernumber.unique()

array([4, 6, 5, 2, 8])

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         188 non-null    int64
 1   fueltype          188 non-null    object
 2   aspiration        188 non-null    object
 3   doornumber        188 non-null    object
 4   carbody           188 non-null    object
 5   drivewheel        188 non-null    object
 6   enginelocation    188 non-null    object
 7   wheelbase         188 non-null    float64
 8   carlength         188 non-null    float64
 9   carwidth          188 non-null    float64
 10  carheight         188 non-null    float64
 11  curbweight        188 non-null    float64
 12  enginetype        188 non-null    object
 13  cylindernumber    188 non-null    int64
 14  enginesize        188 non-null    float64
 15  fuelsystem        188 non-null    object
 16  boreratio         188 non-null    float64
 17  stroke            188 non-null    float64
 18  compressionratio  188 non-null    float64
 19  horsepower        188 non-null    float64
 20  peakrpm           188 non-null    int64
 21  citympg           188 non-null    int64
 22  highwaympg        188 non-null    int64
 23  price             188 non-null    float64
 24  Company           188 non-null    object
dtypes: float64(11), int64(5), object(9)
memory usage: 36.8+ KB

In [134]:
OneHotEncodingColomn = ['fueltype', 'aspiration','doornumber','carbody','drivewheel','enginelocation','Company','fuelsystem','enginetype'] 

final_df = pd.get_dummies(df, columns = OneHotEncodingColomn)

In [135]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 69 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   symboling             188 non-null    int64
 1   wheelbase             188 non-null    float64
 2   carlength             188 non-null    float64
 3   carwidth              188 non-null    float64
 4   carheight             188 non-null    float64
 5   curbweight            188 non-null    float64
 6   cylindernumber        188 non-null    int64
 7   enginesize            188 non-null    float64
 8   boreratio             188 non-null    float64
 9   stroke                188 non-null    float64
 10  compressionratio      188 non-null    float64
 11  horsepower            188 non-null    float64
 12  peakrpm               188 non-null    int64
 13  citympg               188 non-null    int64
 14  highwaympg            188 non-null    int64
 15  price                 188 non-null    float64
 16  fueltype_diesel       188 non-null    uint8
 17  fueltype_gas          188 non-null    uint8
 18  aspiration_std        188 non-null    uint8
 19  aspiration_turbo      188 non-null    uint8
 20  doornumber_four       188 non-null    uint8
 21  doornumber_two        188 non-null    uint8
 22  carbody_convertible   188 non-null    uint8
 23  carbody_fwd           188 non-null    uint8
 24  carbody_hardtop       188 non-null    uint8
 25  carbody_hatchback     188 non-null    uint8
 26  carbody_sedan         188 non-null    uint8
 27  carbody_wagon         188 non-null    uint8
 28  drivewheel_4wd        188 non-null    uint8
 29  drivewheel_rwd        188 non-null    uint8
 30  enginelocation_front  188 non-null    uint8
 31  enginelocation_rear   188 non-null    uint8
 32  Company_alfa-romero   188 non-null    uint8
 33  Company_audi          188 non-null    uint8
 34  Company_bmw           188 non-null    uint8
 35  Company_buick         188 non-null    uint8
 36  Company_chevrolet     188 non-null    uint8
 37  Company_dodge         188 non-null    uint8
 38  Company_honda         188 non-null    uint8
 39  Company_isuzu         188 non-null    uint8
 40  Company_jaguar        188 non-null    uint8
 41  Company_mazda         188 non-null    uint8
 42  Company_mercury       188 non-null    uint8
 43  Company_mitsubishi    188 non-null    uint8
 44  Company_nissan        188 non-null    uint8
 45  Company_peugeot       188 non-null    uint8
 46  Company_plymouth      188 non-null    uint8
 47  Company_porsche       188 non-null    uint8
 48  Company_renault       188 non-null    uint8
 49  Company_saab          188 non-null    uint8
 50  Company_subaru        188 non-null    uint8
 51  Company_toyota        188 non-null    uint8
 52  Company_volkswagen    188 non-null    uint8
 53  Company_volvo         188 non-null    uint8
 54  fuelsystem_1bbl       188 non-null    uint8
 55  fuelsystem_2bbl       188 non-null    uint8
 56  fuelsystem_4bbl       188 non-null    uint8
 57  fuelsystem_idi        188 non-null    uint8
 58  fuelsystem_mfi        188 non-null    uint8
 59  fuelsystem_mpfi       188 non-null    uint8
 60  fuelsystem_spdi       188 non-null    uint8
 61  fuelsystem_spfi       188 non-null    uint8
 62  enginetype_dohc       188 non-null    uint8
 63  enginetype_dohcv      188 non-null    uint8
 64  enginetype_l          188 non-null    uint8
 65  enginetype_ohc        188 non-null    uint8
 66  enginetype_ohcf       188 non-null    uint8
 67  enginetype_ohcv       188 non-null    uint8
 68  enginetype_rotor      188 non-null    uint8
dtypes: float64(11), int64(5), uint8(53)
memory usage: 33.4 KB

In [136]:
final_df.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,...,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,enginetype_dohc,enginetype_dohcv,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor
0,3,88.6,168.8,64.1,48.8,2548.0,4,130.0,3.47,2.68,...,1,0,0,1,0,0,0,0,0,0
1,3,88.6,168.8,64.1,48.8,2548.0,4,130.0,3.47,2.68,...,1,0,0,1,0,0,0,0,0,0
2,1,94.5,171.2,65.5,52.4,2823.0,6,152.0,2.68,3.47,...,1,0,0,0,0,0,0,0,1,0
3,2,99.8,176.6,66.2,54.3,2337.0,4,126.0,3.19,3.40,...,1,0,0,0,0,0,1,0,0,0
4,2,99.8,177.3,66.3,53.1,2507.0,5,136.0,3.19,3.40,...,1,0,0,0,0,0,1,0,0,0

In [137]:
final_df.shape

(188, 69)

In [138]:
final_df.to_csv('/content/gdrive/MyDrive/Colab Notebooks/STEAM/AiElements Data Science Internship Assignment Solution/Data/ModelData.csv')